body{
    overflow-x: hidden;
}
.my-navbar{
    width: 100%;
    height: 65px;
    background-color: #E71864;
}
.my-icon{
    width: 90px;
    height: 90px;
}
.cust-icon{
    width: 70px;
    height: 40px;
    gap: 20px;
}
.logout-icon{
    width: 70px;
    height: 50px;
}
.main-container{
    width: 550px;
    height: 570px;
    top: 7px;
    left: 50px;
}
.cust-card{
    width: 500px;
    height: 170px;
    background-color: rgba(231, 24, 165, 0.49);
}
.img-card{
    height: 170px;
    background-color: #E718A5;
}
.img-card img{
    max-width: 120px;
    height: 120px;
}
.count{
    max-width: 100px;
    height: 30px
}
.number{
    top: 67px;
    bottom: 0;
    right: 130px;
    margin: auto;
}
.item-card{
    width: 500px;
    height: 170px;
    background-color: rgba(162, 15, 181, 0.5);
}
.itemimg-card{
    height: 170px;
    background-color: #A20FB5;
}
.itemimg-card img{
    max-width: 120px;
    height: 120px;
}
.cart-card{
    width: 500px;
    height: 170px;
    background-color: rgba(199, 15, 70, 0.49);
}
.cartimg-card{
    height: 170px;
    background-color: #C70F46;
}
.cartimg-card img{
    max-width: 120px;
    height: 120px;
}
.description-container{
    width: 550px;
    height: 570px;
    top: 7px;
    right: 200px;
}
.cust-desc{
    width: 700px;
    height: 170px;
    border: 1px solid #E718A5;
}
.desc-tittle{
    top: 30px;
    left: 140px;
}
.desc-num{
    top: 70px;
    left: 200px;
}
.desc-img{
    width: 60px;
    height: 60px;
}
.item-desc{
    width: 700px;
    height: 170px;
    border: 1px solid #af0bdc;
}
.cart-desc{
    width: 700px;
    height: 170px;
    border: 1px solid #C70F46;
}
.setting-card{
    width: 250px;
    height: 30px;
    bottom: -510px; right: 20px;
}
.setting-tittle{
    width: 100px;
    height: 30px;
}
.setting-img{
    left: -70px;
    width: 50px;
    height: 50px;
}
@media all and (max-width: 1055px){
    .main-container{
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .description-container{
        width: 90%;
        top: 580px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .setting-card{
        top: 1150px;
    }
    .cust-card{
        width: 100%;
    }
    .item-card{
        width: 100%;
    }
    .cart-card{
        width: 100%;
    }
    .cust-desc{
        width: 100%;
    }
    .item-desc{
        width: 100%;
    }
    .cart-desc{
        width: 100%;
    }
}
@media all and (max-width: 991px){
    .my-icon{
        position: absolute;
    }
}
@media all and (max-width: 768px){
    .img-card{
        width: 170px;
    }
    .itemimg-card{
        width: 170px;
    }
    .cartimg-card{
        width: 170px;
    }
    .count{
        left: 200px;
    }
    .title{
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        margin: auto;
    }
}
@media all and (max-width: 530px){
    .img-card {
        display: none;
    }
    .itemimg-card{
        display: none;
    }
    .cartimg-card{
        display: none;
    }
    .count{
        left: 40px;
    }
    .desc-tittle{
        left: 60px;
    }
    .desc-num{
        left: 100px;
    }
}