body{
    position: relative;
    width: 100%;
    height: 100vh;
}
.image-card{
    border: none;
    width: 550px;
    height: 550px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.icon{
    width: 100px;
    height: 100px;
}
.image-card h5{
    font-size: 44px;
    font-weight: bold;
    color: #E71864;
    width: 550px;
    height: 100px;
}
.pos-image{
    width: 370px;
    height: 370px;
}
.card-size{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 170px;
    margin: auto;
    width: 500px;
    height: 360px;
    border-radius: 20px;
    background-color: rgba(217, 217, 217, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login{
    align-self: center;
    text-align: center;
    color:  #E71864;
    font-weight: bold;
    font-size: 30px;
    font-family:"Baloo Da 2", sans-serif;
}
.lable{
    font-weight: bold;
    font-size: 12px;
}
.control{
    border: 1px solid black;
    border-radius: 15px;
}
.check-box{
    margin-top: 25px;
    margin-left: 2px;
    width: 500px;
}
.tic{
    border: 1px solid rgba(0, 0, 0, 0.35);
}
.check-label1{
    font-size: 13px;
}
.check-label2{
    font-size: 13px;
    color: red;
    margin-left: 247px;
}
.check-label3{
    font-size: 13px;
    color: #E71864;
    margin-top: 10px;
    margin-right: 135px;
    margin-left: 135px;
}
i{
    color: black;
}
.login-button{
    background-color: #E71864;
    color: white;
    font-weight: bold;
    width: 465px;
    border-radius: 15px;
    height: 40px;
    margin-top: 12px;
}
